.set-item {
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
  transition: transform 150ms;

  &:focus {
    outline: 2px solid #fff;
    transform: scale(1.07);
    border-radius: 4px;
  }

  &:hover {
    outline: 2px solid #fff;
  }

  &:first-child {
    margin-left: 0;
  }

  h3 {
    margin: 0;
    text-indent: -9999px;
    position: absolute;
  }

  img {
    display: block;
    width: 17vw;
    height: auto;
  }
}