.set-item {
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
  transition: transform 150ms;

  width: 17vw;
  aspect-ratio: 1.78;
  height: auto;
  background-color: #222;


  &:focus {
    outline: 2px solid #fff;
    transform: scale(1.07);
    border-radius: 4px;
  }

  &:hover {
    outline: 2px solid #fff;
  }

  &:first-child {
    margin-left: 0;
  }

  h3 {
    margin: 0;
    text-indent: -9999px;
    position: absolute;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}